@import 'https://fonts.googleapis.com/css?family=Oswald';

p {
font-family: 'Oswald', sans-serif;
font-size: 7em;
text-align: center;
margin-top: 20%;
}

body {
    background: red;
    color: white;
}

.Sim {
background: green;
color:white;
}

.Talvez {
background: yellow;
}

.Não {
background: red;
color: white;
}