p {
font-family: impact, sans-serif;
font-size: 5em;
text-align: center;
margin-top: 20%;
}

.Sim {
background: green;
color:white;
}

.Talvez {
background: yellow;
}

.Não {
background: red;
color: white;
}